.ExamContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    .BodyExam {
        flex: 10;
        background-color: gray;
        display: flex;
        flex-direction: column;
        .BodyExamTop {
            flex: 1;
            background-color: #d5d5d5;
            border-bottom: 2px rgb(104, 75, 75) solid;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span {
                margin: 8px 20px;
            }
            .TextQuestion {
                font-weight: bold;
            }
        }
        .BodyExamBottom {
            flex: 5;
        }
    }
    .BodyExamRight {
        border-left: 2px rgb(104, 75, 75) solid;
        flex: 4;
        background-color: #d5d5d5;
        display: flex;
        flex-direction: column;
        .QuestionNumber {
            flex: 10;
            margin-top: 67px;
            margin-left: 40px;
            margin-right: 63px;
            text-align: left;
            button {
                width: 47px;
                height: 63px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                margin: 10px 5px;
            }
        }
        .SubmitContainer {
            flex: 2;
            display: flex;
            justify-content: center;
            .SubmitBtn {
                background-color: gray;
                height: 85px;
                width: 238px;
                border-radius: 40px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
            }
        }
    }
}
